header {
    width: 100%;
    top: 0;
}

body {
    background-color: #000000;
    color: #FFBB21;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

nav ul {
    list-style: none;
    float: left;
    margin-top: 10px;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
}

body p {
    padding: 20px 40px 20px 40px;
}

h1 {
    color: #E5E5E5;
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px #FFAF21;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1,
h2 {
    text-align: center;
}

h2,
h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1,
h2,
h3 {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

footer {
    font-size: 85%;
    font-style: italic;
    color: #E5E5E5;
    padding-bottom: 20px;
    border-style: outset;
    border-color: black;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

body a {
    color: #E5E5E5;
}

body a:visited {
    color: #9A9A9A;
}

ul {
    list-style: square;
    padding-left: 80px;
    padding-right: 80px;
}

p a {
    font-weight: bold;
    font-size: 105%;
    text-decoration: none;
}

#divBackPic {
    background-image: url(images/Lego%20Falcon.JPG);
    background-repeat: round;
    background-size: contain;
    width: 100%;
    height: 125px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.rotateimg180 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#mainContent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px 20px 120px 20px;
}

#bodyChanges {
    background-image: linear-gradient(to bottom, #000000, #2B58C1);
}

h3 {
    background-color: #040004;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: #E5E5E5;
    border-style: ridge;
    box-shadow: 3px 3px 1px #9A9A9A;
}

#familyBackgroundImage {
    background-image: url(images/Lego%20Choppers.JPG);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    text-align: left;
}

.imagePosition {
    position: relative;
    left: 500px;
}

.imageFloat {
    float: right;
    margin-bottom: 50px;
}

.textFloat {
    float: right;
    margin-bottom: 50px;
    padding-right: 20px;
}

.floatClear {
    clear: both;
}