    body {
        background-color: turquoise;
        color: white;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    }
    
    h1 {
        color: blanchedalmond;
        text-transform: uppercase;
        text-shadow: 8px 8px black;
    }
    
    h1,
    h2,
    h3 {
        font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
        margin-top: 10px
    }
    
    #divcolor {
        background-color: teal;
    }
    
    .feature {
        color: yellow;
    }
    
    footer {
        font-size: 85%;
        font-style: italic;
    }
    
    ul {
        list-style: square;
    }
    
    p a {
        font-weight: bold;
        font-size: 105%;
        text-decoration: none;
    }
    
    #divBackPic {
        background-image: url(images/Lego%20Falcon.JPG);
        background-repeat: round;
        background-size: contain;
    }
    
    .rotateimg180 {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    
    #mainContent {
        width: 80%;
        margin: auto;
        padding: 20px 20px 120px 20px;
    }
    
    #bodyChanges {
        background-image: linear-gradient(to bottom, teal, lightgreen);
    }
    
    h3 {
        background-color: hsla(0, 0%, 100%, 0.2);
        padding: 5px 0px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px skyblue;
    }
    
    #familyBackgroundImage {
        background-image: url(images/Lego%20Choppers.JPG);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 100px 100px;
        text-align: left;
    }